ChandanSandBox/liferay practice/liferay_workspace/liferay-plugins-sdk-6.1.0-ce-ga1/portlets/TestPlugin-portlet/20120730222407061/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:http.service.test.liferay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:http.service.test.liferay.com" xmlns:intf="urn:http.service.test.liferay.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://model.test.liferay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:http.service.test.liferay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.test.liferay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_Employee">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Employee[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://model.test.liferay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:http.service.test.liferay.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="EmployeeSoap">
    <sequence>
     <element name="id" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="primaryKey" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findByNameRequest">

      <wsdl:part name="name" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByNameResponse">

      <wsdl:part name="findByNameReturn" type="impl:ArrayOf_tns2_Employee">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeResponse">

      <wsdl:part name="removeReturn" type="tns2:EmployeeSoap">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part name="updateReturn" type="tns2:EmployeeSoap">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part name="createReturn" type="tns2:EmployeeSoap">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part name="model" type="tns2:Employee">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part name="model" type="tns2:Employee">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeRequest">

      <wsdl:part name="id" type="xsd:long">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeServiceSoap">

      <wsdl:operation name="findByName" parameterOrder="name">

         <wsdl:input message="impl:findByNameRequest" name="findByNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByNameResponse" name="findByNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="remove" parameterOrder="id">

         <wsdl:input message="impl:removeRequest" name="removeRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeResponse" name="removeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create" parameterOrder="model">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="model">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Plugin_test_EmployeeServiceSoapBinding" type="impl:EmployeeServiceSoap">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="findByNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="remove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:http.service.test.liferay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceSoapService">

      <wsdl:port binding="impl:Plugin_test_EmployeeServiceSoapBinding" name="Plugin_test_EmployeeService">

         <wsdlsoap:address location="http://localhost/services/Plugin_test_EmployeeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
